<footer class="footer" id="footer">
	<span class="building-footer">
		<img src="{{ '/assets/images/buildings.svg' | prepend:site.baseurl }}">
	</span>
	<ul>
		<li>
			<a href="https://twitter.com/shubzilla" target="_blank">
				<i class="fab fa-twitter"></i>
				<span>Twitter</span>
			</a>
		</li>
		<li>
			<a href="https://shubzilla.bandcamp.com/" target="_blank">
				<i class="fab fa-bandcamp"></i>
				<span>Bandcamp</span>
			</a>
		</li>
		<li>
			<a href="https://soundcloud.com/shubzilla" target="_blank">
				<i class="fab fa-soundcloud"></i>
				<span>Soundcloud</span>
			</a>
		</li>
		<li>
			<a href="https://soundcloud.com/shubzilla" target="_blank">
				<i class="fab fa-instagram"></i>
				<span>Instagram</span>
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/shubzilla" target="_blank">
				<i class="fab fa-facebook"></i>
				<span>Facebook</span>
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/channel/UCudjfXlXNoAUm4MIreYmDuQ?view_as=subscriber" target="_blank">
				<i class="fab fa-youtube"></i>
				<span>YouTube</span>
			</a>
		</li>
		<li>
			<p>SEND INQUIRIES TO:</p>
			<p>{{ site.email }}</p>
		</li>
	</ul>
</footer>
