<nav class="navbar">
  <ul class="navlist">
    <li class="navitem"><a href="#about">About</a></li>
    <li class="navitem"><a href="#music">Music</a></li>
    <li class="navitem"><a href="#media">Media</a></li>
    <li class="navitem"><a href="#events">Events</a></li>
    <li class="navitem"><a href="#footer">Contact</a></li>
  </ul>
  <div class="navbar-header">
    <div class="navbar-brand">
      <img src="{{ "/assets/images/shubzilla.png" | prepend: site.baseurl }}">
    </div>
  </div>
</nav>